<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
</head>
<body>
    <h1>Choose the one of the Items that available gift packs.</h1>

    <form action="#">
        <label for="products">Choose a products:</label>
        <select name="products" id="products">
          <option value="Bread">Bread</option>
          <option value="Milk Powder">Milk Powder</option>
          <option value="Sugar">Sugar</option>
          <option value="Milk">Milk</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>

</body>
</html>